<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Domsday clock</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="got">

		<h1>Enter your date of birth </h1>
		<p>Get Some interesting stats regarding your life</p>
		<form action="bday" method="get">

			<input type="date" name='date' id="bday"><button type="submit" class="btn btn-info">Submit</button>

		</form>
	</div>


</body>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="javascript.js"></script>

</html>