body {
  margin: 0px;
  overflow: hidden;
  background-color: black;
  color: white;

}

body::after {
  content: '';
  z-index: -1;
  background-image: url('../images/ss.jpg');
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  opacity: 0.5;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

div.container {
  padding-top: 50px;
  width: fit-content;

}

h1,
h2,
H3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 50px;
}

h2 {
  font-weight: 100;
  font-size: 40px;
}

div.slept {
  padding-top: 20px;
  padding-bottom: 5px;
}

.slept h3 {
  position: relative;
  bottom: 15px
}

.count H3 {
  dISPLAY: GRID;
  GRID-TEMPLATE-COLUMNS: 1FR 1FR 1FR 1FR;
  WIDTH: MIN-CONTENT;
  GAP: 20PX;
  MARGIN: AUTO;
  PADDING-TOP: 20PX;
  align-items: center;
}